@import '~bootstrap/scss/bootstrap-grid.scss';

.container {
    padding: 30px;
}

form {
    font-size: 20px;

    button {
        margin-top: 5px;
    }
}

@include media-breakpoint-up(md) {
    form {
        font-size: 30px;
    }
}
