article {
    padding: 10px;
}

.table th, .table td {
    vertical-align: middle;
}

tr.clickable {
    cursor: pointer;
}

tr.selected {
    background-color: #80FF80;
}

.after-table {
    button {
        margin-bottom: 3px;
    }
}
