<div class="player-info" [class.current-player]="isCurrentPlayer">
    <div class="flex-container">
        <div class="auto-flex player-name">{{ player.name }}</div>
        <div class="fixed-flex score">2500</div>
    </div>
    <div class="achievements">
        <ul>
            <!-- TODO -->
            <!-- <li>Par</li>
            <li>Trinca</li>
            <li>Royal Straight Flush</li> -->
        </ul>
    </div>
    <div class="container board">
        <div class="row" *ngFor="let row of board">
            <div class="col-4 slot-wrapper" *ngFor="let card of row">
                <div class="game-card">
                    <ng-container *ngIf="card !== null">
                        <div class="rank">{{ card.rank }}</div>
                        <div class="suit {{ CardSuit[card.suit] }}"></div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
