<div class="player-info" [class.current-player]="isCurrentPlayer">
    <div class="flex-container">
        <div class="auto-flex player-name" *ngIf="!isLocalPlayer">{{ player.name }}</div>
        <div class="auto-flex player-name local-player" *ngIf="isLocalPlayer">Você</div>
        <div class="fixed-flex score">0</div>
    </div>
    <div class="achievements">
        <ul>
            <!-- TODO -->
            <!-- <li>Par</li>
            <li>Trinca</li>
            <li>Royal Straight Flush</li> -->
        </ul>
    </div>
    <div class="container board">
        <div class="row" *ngFor="let row of board; let i = index">
            <div class="col-4 slot-wrapper" *ngFor="let card of row; let j = index">
                <div class="game-card" *ngIf="card === null" droppable (onDrop)="process(i, j, $event)"></div>
                <div class="game-card" *ngIf="card !== null">
                    <div class="rank">{{ card.rank }}</div>
                    <div class="suit {{ CardSuit[card.suit] }}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
