<table class="table">
    <thead>
        <tr>
            <th scope="col" class="id-column">#</th>
            <th scope="col" class="name-column">Nome</th>
            <th scope="col" class="action-column">Ação</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="loading">
            <td colspan="3">Carregando...</td>
        </tr>
        <tr *ngIf="!loading && players.length == 1">
            <td colspan="3" class="no-players">
                Ninguém está online. :(
            </td>
        </tr>
        <tr *ngFor="let player of players; let i = index"
            [class.clickable]="customMatchMode"
            [class.selected]="selectedPlayerIndexes.has(i)"
            (click)="selectPlayer(i)">

            <ng-container *ngIf="player.name !== username">
                <th scope="row">{{ i + 1 }}</th>
                <td class="player-name">{{ player.name }}</td>
    
                <td *ngIf="player.status == PlayerStatus.IN_GAME">Em jogo</td>
                <td *ngIf="player.status == PlayerStatus.AVAILABLE">
                    <a class="btn btn-primary btn-sm disabled" *ngIf="customMatchMode" routerLink="">Jogar 1x1</a>
                    <button class="btn btn-primary btn-sm" *ngIf="!customMatchMode" (click)="play(i)">Jogar 1x1</button>
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>

<div class='after-table'>
    <ng-container *ngIf="customMatchMode">
        <button class="btn btn-success" (click)="proceedCustomCreation()">Continuar</button>
        <button class="btn btn-danger" (click)="abortCustomMode()">Cancelar</button>

        <div class="alert alert-info">Selecione os jogadores participantes (0 a 3).</div>
    </ng-container>

    <ng-container *ngIf="!customMatchMode">
        <button class="btn btn-primary" (click)="playAI()">Jogar contra IA</button>
        <button class="btn btn-primary" *ngIf="players.length > 0" (click)="enterCustomMode()">Partida personalizada</button>
    </ng-container>
</div>
