@import "../../style_vars.scss";

.game-container {
    padding-left: 5px;
    padding-top: 3px;
}

.row {
    margin: 0;
}

.fixed-column {
    flex: 0 0 auto;
}

$hand-margin: 10px;

.hand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: $section-margin;
    margin-left: $hand-margin;
    margin-right: $hand-margin;

    .game-card {
        display: block;
        margin-bottom: 3px;
    }
}
