<div *ngIf="loading">Loading...</div>

<div class="container-fluid game-container" *ngIf="!loading">
    <div class="row">
        <div class="fixed-column">
            <app-player-board
                [isLocalPlayer]="localPlayer === 0"
                [player]="gameData.players[0]"
                [board]="gameData.boards[0]"
                [isCurrentPlayer]="gameData.currentPlayerIndex === 0"
                (play)="play($event)"></app-player-board>
            <app-player-board *ngIf="gameData.players.length >= 3"
                [isLocalPlayer]="localPlayer === 2"
                [player]="gameData.players[2]"
                [board]="gameData.boards[2]"
                [isCurrentPlayer]="gameData.currentPlayerIndex === 2"
                (play)="play($event)"></app-player-board>
        </div>

        <div class="fixed-column hand">
            <ng-container *ngFor="let card of gameData.hand; let i = index">
                <div class="game-card" draggable [dragData]="i"
                    [class.bandit]="card.type === CardType.BANDIT" [class.wildcard]="card.type === CardType.WILDCARD">
                    <ng-container *ngIf="card.type === CardType.NORMAL">
                        <div class="rank">{{ cardRanks[ card.rank ] }}</div>
                        <div class="suit {{ CardSuit[card.suit] }}"></div>
                    </ng-container>
                </div>
            </ng-container>
        </div>

        <div class="fixed-column">
            <app-player-board *ngIf="gameData.players.length >= 4"
                [isLocalPlayer]="localPlayer === 3"
                [player]="gameData.players[3]"
                [board]="gameData.boards[3]"
                [isCurrentPlayer]="gameData.currentPlayerIndex === 3"
                (play)="play($event)"></app-player-board>
            <app-player-board
                [isLocalPlayer]="localPlayer === 1"
                [player]="gameData.players[1]"
                [board]="gameData.boards[1]"
                [isCurrentPlayer]="gameData.currentPlayerIndex === 1"
                (play)="play($event)"></app-player-board>
        </div>
    </div>
</div>